.logo {
    background-color: antiquewhite;
}
.logo {
    height: 50px;
    width: 50px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(249, 240, 237);
    text-align: center;
    align-items: center;
}
#search {
    height: 20px;
    width: 55px;
    border-radius: 8px;
}
.details {
    display: flex;
    margin-right: 15px;
}
.details a {
    margin-right: 15px;
    color: black;
    text-decoration: none;
}
.details .auth {
    text-align: center;
    align-items: center;
    justify-content: center;
    border: none;
}
#inputbox {
    width: 20rem;
    height: 1.5em;
    border-radius: 10px;
}
.footer {
    background-color: rgba(237, 206, 206, 1);
    display: flex;
    justify-content: space-between; 
}
.footer a {
    text-decoration: none;
    color: black;
}
#address {
    padding-right: 10px;
}